<div style="@Style" class="input-container">
    <input value="@Value" @oninput="OnInputChanged" type="@entryType.ToString().ToLower()" name="text" class="input">
    <label class="label">@Placeholder</label>
</div>

@code {
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public EntryType entryType { get; set; } = EntryType.Text;
    [Parameter] public string Style { get; set; }

    private async Task OnInputChanged(ChangeEventArgs e)
    {
        Value = e.Value.ToString();
        await ValueChanged.InvokeAsync(Value);
    }

    public enum EntryType
    {
        Text,
        Password,
        Number
    }
}
