
<div style="@Style" class="input-container">
    <input required="" @bind-value="value" type="@entryType.ToString()" name="text" class="input">
    <label class="label">@Placeholder</label>
</div>
@code {

    [Parameter]
    public string Placeholder { get; set; } = "";

    private string _value = "";

    [Parameter]
    public string value
    {
        get => _value;
        set
        {
            if (_value != value)
            {
                _value = value;
                valueChanged.InvokeAsync(value); // Olayı tetikle
            }
        }
    }

    [Parameter]
    public EventCallback<string> valueChanged { get; set; } // Olay parametresi

    [Parameter]
    public EntryType entryType { get; set; } = EntryType.Text;

    private void OnValueChanged(ChangeEventArgs e)
    {
        value = e.Value.ToString();
    }

    [Parameter]
    public string Style { get; set; }

    public enum EntryType
    {
        Text,
        Password,
        Number
    }
}
