@page "/AccessDenied"
<PageTitle>Yetersiz yetkilendirme</PageTitle>
<div class="container">
    <h1>@localizer["AccessDenied"]</h1>
    <h3>@localizer["AccessDeniedDueToInsufficientAuthorization."]</h3>
</div>
@code {

}
