@page "/"
@using YGate.Client.Services.Entitie
@using YGate.Client.Services.Page
@using YGate.Client.Services.Statistics
@using YGate.Entities.BasedModel
@using YGate.Entities.ViewModels
@inject IJSRuntime jSRuntime
@inject IPageService pageService
@inject IEntitieViewService viewService
<PageTitle>Home</PageTitle>
@Source
@code {
    MarkupString Source = new("<p>Ana sayfa yükleniyor.</p>");

    protected override async Task OnInitializedAsync()
    {
        var res = await pageService.GetPageForName("MainPage");
        DynamicPage dynamicPage = res.ConvertRequestObject<DynamicPage>();
        Source = viewService.GetView(dynamicPage.Index);
    }

}