<h3>TestPage</h3>

<div class="container">

    <YGate.Client.Shared.Components.RichTextEditor @bind-Content="Source"></YGate.Client.Shared.Components.RichTextEditor>


    <YGate.Client.Shared.Components.SpecialButton Text="Tıkla bana" OnClick="ButtonOnClick"></YGate.Client.Shared.Components.SpecialButton>


</div>
@code {
    public string Source { get; set; }


    public void ButtonOnClick()
    {

        string test = Source.ToString();

    }
}
