@page "/Profile/Info/{InformationNeeded}/{AfterNavigationAddress}"
@using YGate.Client.Services.Profile
@using YGate.Client.Shared.Components
<div class="container">
    <h3>Info</h3>

    <label>Lütfen bizimle şu bilgiyi paylaşın</label>
    <div class="mb-3">
        <label>@InformationNeeded.ToString():</label>
        <input type="text" @bind-value="Value" required>
    </div>
    <label style="color:red">@ErrorMessage</label>
    <label><a>Buna neden ihtiyaç duyuyoruz ?</a></label><br />
    <SpecialButton OnClick="async()=> SendValue()" Class="btn-primary" Text="Tamam"></SpecialButton>

</div>
@code {
    [Parameter]
    public string InformationNeeded { get; set; }
    [Parameter]
    public string AfterNavigationAddress { get; set; }
    [Parameter]
    public string Value { get; set; }

    public string ErrorMessage { get; set; }

    public async void SendValue()
    {
        var result = await profileService.AddPropertiesToMyProfile(InformationNeeded.ToString(), Value);
        if (result.Result ==YGate.Entities.EnumRequestResult.Success)
        {
            await profileService.GetMyProfile();    
            navigationManager.NavigateTo(AfterNavigationAddress);
        }
        else
            ErrorMessage = result.ShortDescription.ToString();
    }
}
