.combobox-div {
    height: 55px;
    margin: 5px;
}

.combobox {
    background-color: var(--background-color);
    width: 100%;
    height: 45px;
    border-radius: 7px;
    color: var(--font-color);
}

    .combobox:focus {
        background-color: var(--background-color);
    }

.combobox-option {
    background-color: var(--background-color);
}
