.input-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 65px;
    margin: 10px;
    padding:5px;
    position: relative;
    color: var(--font-color);
}

    .input-container .label {
        font-size: 15px;
        padding-left: 10px;
        position: absolute;
        top: 13px;
        transition: 0.3s;
        pointer-events: none;
    }

.input {
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    color: var(--font-color);
    border-radius: 6px;
    font-size: 15px;
    background-color: transparent;
}

    .input:focus {
        border: 2px solid transparent;
        box-shadow: 3px 3px 10px rgba(0,0,0,1), -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0,0,0,1), inset -1px -1px 6px rgba(255, 255, 255, 0.4);
    }

.input-container .input:valid ~ .label,
.input-container .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
}

.input-container .input:valid,
.input-container .input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1), -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0,0,0,1), inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
