@page "/GetEntitiesButCategoryGuid/{CategoryGuid}"
@page "/GetCategoryEntities/{CategoryNameAndId}"
@using Microsoft.AspNetCore.Authorization
@using YGate.Client.Services.Category
@using YGate.Client.Services.Entitie

@using YGate.Entities
@using YGate.Entities.ViewModels
@using YGate.Interfaces.DomainLayer
@inject IEntitieService entitieService
@inject IEntitieViewService entitieViewService

@if (isAuthorized)
{


    @if (groups != null && groups.Count > 0)
    {
        <div class="container ">
            <div class="row" style="display:flex;">

       

                @foreach (var group in groups)
                {
                    <div class="container">
                        <div class="container-header">
                            <h3>@group.Value.FirstOrDefault().CategoryName.ToString()</h3>
                        </div>

                        @entitieViewService.GetListPage(group.Value.FirstOrDefault(), group.Value)
                    </div>
                }


            </div>
            <br />
        </div>

    }
    else
    {
        <p>@localizer["There_is_no_data_at_all"]</p>
    }

}
else
{

    <p>@Error</p>

}

@code {
    [Parameter]
    public string CategoryGuid { get; set; }

    [Parameter]
    public string CategoryNameAndId { get; set; }

    List<KeyValuePair<string, List<EntitieViewModel>>> groups { get; set; }


    private string Error = "";

    private bool isAuthorized = false;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(CategoryGuid))
            await DataRefreshButCategoryGuid();

        if (!string.IsNullOrEmpty(CategoryNameAndId))
            await DataRefreshButCategoryNameAndId();

        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        await OnInitializedAsync();
    }


    /// <summary>
    /// Seo'ya uygun değil
    /// </summary>
    /// <returns></returns>
    public async Task DataRefreshButCategoryGuid()
    {
        RequestResult result = await entitieService.GetAllEntitieButCategoryGuid(CategoryGuid);
        List<EntitieViewModel> entitiesList = result.ConvertRequestObject<List<EntitieViewModel>>();
        groups = entitiesList
            .GroupBy(xd => xd.CategoryName) // Kategorilere göre grupla
            .Select(g => new KeyValuePair<string, List<EntitieViewModel>>(g.Key, g.ToList())) // her grubu listeye çevir
            .ToList();
    }
    /// <summary>
    /// Seo'ya uygun
    /// </summary>
    /// <returns></returns>
    public async Task DataRefreshButCategoryNameAndId()
    {
        string Id = CategoryNameAndId.Split("-").Last();

        RequestResult result = await entitieService.GetAllEntitieButCategoryId(Id);

        if (result.Result == EnumRequestResult.Success)
            isAuthorized = true;
        else
        {
            Error = result.LongDescription.ToString();
            return;
        }

        List<EntitieViewModel> entitiesList = result.ConvertRequestObject<List<EntitieViewModel>>();
        groups = entitiesList
            .GroupBy(xd => xd.CategoryName) // Kategorilere göre grupla
            .Select(g => new KeyValuePair<string, List<EntitieViewModel>>(g.Key, g.ToList())) // her grubu listeye çevir
            .ToList();
    }
}
