@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigationManager
@inherits LayoutComponentBase
@attribute [Authorize]
@inject IJSRuntime jsRuntime

<div class="main">
    <Sidebar></Sidebar>
    <div class="main-content">
        <header style="width:100%;display: flex; justify-content: space-between; align-items: center; padding: 10px;">

            <button id="themeButton" style="width:45px;height:45px;" class="special-button" @onclick='async()=> await jsRuntime.InvokeVoidAsync("setThemeJSCode", "")'>
                <i id="themeButton-Icon" class="fa fa-sun"></i>
            </button>
            <button class="special-button" style="width:45px;height:45px;" @onclick='()=> navigationManager.NavigateTo("/Show/Gates")'>
                <i class="fa fa-torii-gate"></i>
            </button>

        </header>
        <div class="main-app">
            @Body
        </div>
    </div>
</div>
